<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> EEO Data API </title>
</head>
<body>
    <h1>FY 2020 Annual Report on the Federal Workforce Appendix A: Workforce Tables</h1>
    <p>
    Note** This is a sample project to demonstrate how to use real world data, apply required transformation
    and create RestAPI
    </p>
    <p>To access the data, use the following API call: </p>
    <p> Example: http://127.0.0.1:5000/data/api/v1/table_id </p>
    <p>Refer the table below for table id and the content of the table:</p>
    <p>{{data|safe}} </p>
</body>
</html>